<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8" />
		<title>Countries Info</title>
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/glyphicons.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="icon" href="images/globe.png">
	</head>
	<body ng-app="countriesApp" ng-controller="mainCtrl">
		<div id="progress_container">
			<div id="progress_bar"></div>
		</div>
		<header id="page_header" class="flx flx-row full-w">
			<h1>Countries Information</h1>
		</header>
		<div id="container" class="flx">
			<aside id="filter_container">
				<div id="filter_box" class="tint">
					<div id="close_filter_tab" class="full-w flx-row">
						<span id="close_filter" title="Close" class="glyphicon glyphicon-remove ptr"></span>
					</div>
					<header id="filter_main_header">
						<h2>Filters</h2>
					</header>
					<div id="filter_content_wrapper">
						<div id="filter_content_main">
							<section class="filter-grp">
								<p class="filter-grp-title">Language</p>
								<div class="filter-content">
									<select id="language_ddl">
										<option selected value="all">-- All --</option>
										<option value="af">Afrikaans</option>
										<option value="sq">Albanian</option>
										<option value="ar">Arabic</option>
										<option value="nl">Dutch</option>
										<option value="en">English</option>
										<option value="fr">French</option>
										<option value="de">German</option>
										<option value="pt">Portuguese</option>
										<option value="ru">Russian</option>
										<option value="es">Spanish</option>
									</select>
								</div>
							</section>
							<section class="filter-grp">
								<p class="filter-grp-title">Region</p>
								<div class="filter-content">
									<select id="region_ddl">
										<option selected value="all">-- All --</option>
										<option value="africa">Africa</option>
										<option value="americas">Americas</option>
										<option value="asia">Asia</option>
										<option value="europe">Europe</option>
										<option value="oceania">Oceania</option>
									</select>
								</div>
							</section>
							<section class="filter-grp">
								<p class="filter-grp-title">Population</p>
								<div class="filter-content flx" id="population_wrapper">
									<select id="population_ddl">
										<option value="less">Less than</option>
										<option selected value="more">More than</option>
									</select>
									<input type="number" id="population_input" class="input" placeholder="Population" min="1" />
								</div>
							</section>
							<section class="filter-grp">
								<div class="filter-grp-title flx flx-row" id="timezone_header">
									<span id="timezone_txt">Timezone(s)</span>
									<label class="switch">
										<input type="checkbox" checked id="timezone_chk">
										<span class="slider ptr"></span>
									</label>
								</div>
								<div class="filter-content flx flx-row" id="timezone_content">
									<select id="timezone_ddl">
										<option selected value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
									<div class="flx flx-row" id="timezone-compare-box">
									  <label for="timezone_less" class="timezone-label">
											<span class="comparision">&lt;</span>
											<input type="radio" name="timezone_compare" id="timezone_less" class="timezone-input" checked value="0">
									  </label>

										<label for="timezone_less" class="timezone-label">
											<span class="comparision">=</span>
											<input type="radio" name="timezone_compare" id="timezone_equla" class="timezone-input" checked value="1">
										</label>

										<label for="timezone_less" class="timezone-label">
											<span class="comparision">&gt;</span>
											<input type="radio" name="timezone_compare" id="timezone_more" class="timezone-input" checked value="2">
									  </label>
									</div>
								</div>
							</section>
						</div>
						<div id="filter_search_icon" class="flx flx-row">
							<span id="search_icon" class="ptr" ng-click="searchApi()" title="Search"></span>
							<span id="refresh_icon" class="ptr" title="Reset Fields"></span>
						</div>
					</div>
				</div>
			</aside>
			<main class="tint" id="main">
				<div id="main_header" class="flx flx-col full-w">
					<div id="search_tab" class="flx flx-row">
						<input type="text" class="input" id="search" ng-model="searchField" placeholder="Filter Search" />
						<div id="clear_wrapper" class="flx flx-row">
							<span id="clear" class="glyphicon glyphicon-remove ptr" ng-click="clrSearchField()"></span>
						</div>
					</div>
					<div id="search_details">
						{{ filtered.length | pluralize}}
					</div>
				</div>
				<div id="response_container" ng-style="responseContainer">		
					<div class="profile" ng-repeat="data in dataList | filter: {name: searchField} as filtered">
						<div class="profile-intro flx flx-row" ng-click="expand = !expand; progressBar()">
							<span class="flx flx-row country-name">
								<span class="glyphicon glyphicon-menu-up profile-intro-glyph"></span>
								<p class="profile-intro-name">{{ data.name }}</p>
							</span>
							<img ng-src="http://www.countryflags.io/{{ data.alpha2Code }}/shiny/32.png" alt="{{data.alpha2Code}} Flag">
						</div>
						<ul class="profile-list slide" ng-show="expand">
							<li class="field">
								<span class="field-head">Name : </span>
								<span class="field-item">{{data.name}}</span>
							</li>
							<li class="field">
								<span class="field-head">Native Name : </span>
								<span class="field-item">{{data.nativeName}}</span>
							</li>
							<li class="field">
								<span class="field-head">Capital : </span>
								<span class="field-item">{{data.capital}}</span>
							</li>
							<li class="field">
								<span class="field-head">Region : </span>
								<span class="field-item">{{data.region}}</span>
							</li>
							<li class="field">
								<span class="field-head">Subregion : </span>
								<span class="field-item">{{data.subregion}}</span>
							</li>
							<li class="field">
								<span class="field-head">Population : </span>
								<span class="field-item">{{data.population | commarize}}</span>
							</li>
							<li class="field">
								<span class="field-head">Demonym : </span>
								<span class="field-item">{{data.demonym}}</span>
							</li>
							<li class="field">
								<span class="field-head">Area : </span>
								<span class="field-item">{{data.area | commarize}} km<sup>2</sup></span>
							</li>
							<li class="field">
								<span class="field-head">Timezones : </span>
								<div class="field-repeat">
									<span ng-repeat="timezone in data.timezones" class="repeat-item field-item">{{timezone}}</span>
								</div>
							</li>
							<li class="field">
								<span class="field-head">Languages : </span>
								<div class="field-repeat">
									<span ng-repeat="language in data.languages" class="repeat-item field-item">{{language.name}}</span>
								</div>
							</li>
							<li class="field">
								<span class="field-head">Regional Blocs : </span>
								<div class="field-repeat">
									<span ng-repeat="bloc in data.regionalBlocs" class="repeat-item field-item">{{bloc.acronym}} - {{bloc.name}}</span>
								</div>
							</li>
						</ul>
					</div>
					<span class="flx flx-row" id="search_error">{{ apiSearchError }}</span>
				</div>
				<div id="show_more" class="flx-row" ng-style="showMore">
					<span id="show_more_text" class="ptr" ng-click="showAll()">Show More</span>
				</div>
				<div id="loading" class="flx-row" ng-style="loadingDisplay">
					<span id="loading_icon"></span>
				</div>
				<footer class="flx flx-col">
					<span>Written By Bello Damilola 02-July-18.</span>
					<span>APIs from 
						<a class="api-source-link" href="https://restcountries.eu/" target="_blank">restcountries</a>, 
						<a class="api-source-link" href="http://countryflags.io/" target="_blank">countryflags</a>
					</span>
				</footer>
			</main>
			<script src="js/app.js"></script>
		</div>
		<div id="tray_icon" class="flx-col ptr" title="Show Filter Tab">
			<span id="tray_glyph" class="glyphicon glyphicon-menu-right"></span>
			<small>Filter<br />Tab</small>
		</div>
	</body>
</html>